function InteractionClavier.readString 3
push argument 0
call String.new 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 1
push constant 128
eq
not
not
if-goto WHILE_END0
call Keyboard.readChar 0
pop local 1
push local 1
push constant 129
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call String.eraseLastChar 1
pop temp 0
push local 2
push constant 1
sub
pop local 2
goto IF_END1
label IF_FALSE1
push constant 32
call Output.printChar 1
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push local 2
push argument 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
call String.appendChar 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto IF_END2
label IF_FALSE2
call Output.backSpace 0
pop temp 0
label IF_END2
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
